body{
	margin:0;
}
.header{
	display: flex;
	height:10vh;
	background-color: #000000;
}
.accordion{
	margin-top:10px;
	display: flex;
	align-items: center;
	width: 100%;
	height:15vmin;
	background-color: #F0F0F0;
	cursor: pointer;
}
.accordion-text{
	width: 95%;
	padding-left: 1vmax;
}
.accordion:after{
	content: '+';
}
.active-accordion:after{
	content: '-'
}
.description{
	display: none;
	margin:10px;
}
